<!--Side Navbar starts-->
<div class="container">
        <div class="sidenav">
            <h3>Leave your marks!!!</h3>
            <img style="height: 25%; width: auto" class="img-circle" src="/images/footprint.jpg">
            <br><br>
            <a align="center" style="font-size: 20px" href="/stories">Stories</a>
            <br>
            <a align="center" style="font-size: 20px" href="/new-story">Share your own story</a>
            <br>
            <a align="center" style="font-size: 20px" href="/techStack">Tech stack</a>
            <% if( typeof(session.loggedIn) == 'undefined' ) {%>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <a type="button" href="/login" class="btn btn-primary btn-lg outline">Login</a>&nbsp;&nbsp;&nbsp;
                 <a type="button" href="/register" class="btn btn-danger btn-lg outline">Sign Up</a>
                </div>
                <%} else { %>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <a type="button" align="center" href="/logout" class="btn btn-danger btn-lg outline">Logout</a>&nbsp;&nbsp;&nbsp;
                </div>
                <%}%>
        </div>

    </div>
    <!--Side Navbar starts-->