<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/sidebar.css">

    </head>
    <body>
        <!--Side Navbar starts-->
        <% include partials/sideNarbar.ejs %>
        <!--Side Navbar ends-->

        <!--Main body begins here-->
        <div class="container-fluid col-sm-offset-2">
            <div class="row">
                <h3 align="center">Leave your marks!!!</h3>
                <br/><br/><br/>

                   <blockquote >
                    We believe that everyone is fighting with something and have a story to tell.
                    That's why we created <code>leave your marks</code> foundation where people share their
                    life changing stories.
                  </blockquote>

                  <blockquote>
                    Right now when you are reading this someone is going to be operated in ICU.
                    A mother is going to give birth to a pre-mature baby, a husband is going to see his wife for last time.
                    A player is going to hit a home run. A student is going to fail in exams.<br/><br/> Every second creates a story
                    and we share the best stories with you.<br/> Read the stories <a href="/stories">here</a> or <a href="/new-story">write your own story</a>
                  </blockquote>

            </div>

        </div>

        <!--Main body ends here-->
            
        <script src="/js/jquery-3.3.1.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>