<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/sidebar.css">

    </head>
    <body>
        <% include partials/sideNarbar.ejs %>
        <!--Main body begins here-->
        <div class="container-fluid col-sm-offset-2">
            <div class="row">
                <h3 align="center">Congratulations!!!</h3>
                <br/><br/><br/>
                <p class="col-sm-offset-2">You have successfully registered, please go ahead and <a href="/login">Login</a></p>                  

            </div>

        </div>
    
            <!--Main body ends here-->
    </body>
</html>